nav{
    font-size: 40px;
    color: rgb(86, 185, 185);
    border-bottom: 5px solid rgb(153, 115, 43);
    height: 150px;
    position: static;
    overflow:visible;
    white-space: nowrap;
    margin-bottom: 100px;
}
nav>ul{
    list-style-type: none;
    display: flex;
    position:absolute;
    margin-top: 80px;
    margin-left: 500px;
}
nav>ul>li{
    display: flex;
    float: right;
    border: 5px solid rgb(87, 87, 87);
    margin-right: 5px;
    color: whitesmoke;
    padding-right: -50px;
    word-break:normal;
    word-wrap: break-word;
    white-space: nowrap;
    
}
li a{
    text-decoration: none;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif ;
    padding: 7px 8px;
    border: none;
    
}
li a:hover{
    background-color: rgb(29, 28, 28);
}
body{
    background-color: rgb(49, 48, 48);
    min-height: 200px;
    max-width: 1060px;
    margin:0px;
    margin-right: 0px;
    padding: 40px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.name{
    position: absolute;
    margin-left: 160px;
    margin-right: 300px;
    margin-top: 40px;
}
.face{
    float:left;
    width: 150px;
    height: 150px;
    margin-left: 0px;
}
.card{
    border: 5px solid black;
    width: 490px;
    height: 480px;
    position: relative;
    margin-left: 10px;
    
}
.cardTop{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    height: 275px;
    margin-bottom: 25px;
}
.cardBot{
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    color:orange;
    height: 200px;
    margin-top: -72px;
    background-color: rgb(69, 65, 65);
}
ul{
    display: inline-block;
    text-align: left;
    margin-top: 60px;
}
.projectCard>h1{
    color: orange;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    padding: 0px;
}
.projectCard>h2{
    color: orange;
    text-align: center;
    font-size: 35px;
    margin: 0px;
    padding: 0px;
}
h1{
    color:orange;
    text-align: center;
    font-size: 72px;
}
h3{
    margin: 0px;
    padding-left: 10px;
    text-align: center;
}
h4{
    margin-top: -40px;
    text-align: center;
}
hr{
    margin-top: -20px;
    margin-bottom: -43px;
    color: blue;
    border: 2px solid black;
}
.projectCard>hr{
    border: 2px solid rgb(89, 89, 89);;
}
.container {
    width: 96.5%;
    margin-top: 50px;
    margin-left: 15px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
}
.projectContainer{
    width: 96.5%;
    margin-top: 50px;
    margin-left: 15px;
    display: flex; 
    gap: 0px 0px; 
    flex-wrap: nowrap;
    border: 5px solid rgb(89, 89, 89);
    background-color: rgb(39, 39, 39);
}
html{
    height: 100%;
    background-color: rgb(39, 39, 39);
}
.projectDesc>hr{
    margin: auto;
}
.projectDesc>img{
    margin-bottom: 50px;
}
.infoBar{
    display: flex;
    position: relative;
    padding: 12px 24px;
    background-color: rgba(30,30,30,.8);
    top: -70px;
    font-size: .875rem;
    color: whitesmoke;
    margin-top: 0;
    font-size: x-large;
}
.teamSize{
    height: 24px;
    width: 24px;
    margin-right: 5px;
    margin-left: 40px;
}
.clock{
    height: 24px;
    width: 24px;
    margin-right: 5px;
    margin-left: 40px;
}
.tools{
    height: 24px;
    width: 24px;
    margin-left: 40px;
    margin-right: 5px;
}
.cardHead{
    background-color: rgb(27, 26, 26);
    display: inline-flex;
    width: 80%;
    padding-left:98px;
    padding-top: 20px;
    padding-bottom: 12px;
}
.cardTail{
    background-color: rgb(36, 33, 33);
    padding: 15px;
    font-size: x-large;
}
.arrow{
    width: 30px;
    height: 30px;
    margin-left: -20px;
    text-align: center;
    align-self: center;
}
.cardBot img{
    margin-left: 50px;
}
.title{
    font-size: x-large;
}
.video{
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 120%; 
    min-height: 120%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
.projectCard{
    width: 400px;
    border-right: 5px solid rgb(89, 89, 89);
}
.projectTxt{
    color: rgb(24, 169, 169);
    font-size: 30px;
    overflow: scroll;
    width: 550px;
    margin-left: 50px;
    padding: 0PX;
    text-align: center;
}
.projectDesc{
    /*color: rgb(24, 169, 169);*/
    color: orange;
    font-size: 30px;
    word-wrap: break-word;
    padding: 0PX;
    text-align: center;
}
a{
    margin: 0px;
    padding: 0px;
}
/* Dropdown Button */
.dropbtn {
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif ;
    padding: 7px 8px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-family:'Times New Roman', Times, serif ;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 3px solid black;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(29, 28, 28);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(29, 28, 28);}
  @media only screen and (max-width: 600px) {
    nav>ul{
        list-style-type: none;
        display:flex;
        position:absolute;
        margin-left: -20px;
        margin-top: 160px;
    }
    .container{
        width: 510px;
    }
}
  
