nav{
    font-size: 40px;
    color: rgb(86, 185, 185);
    border-bottom: 5px solid rgb(153, 115, 43);

}
nav>ul{
    list-style-type: none;
    margin: 20px;
    align-self: flex-end;
    display: inline;
    
}
li{
    display: inline-flex;
    float: right;
    margin-top: 40px;
    border: 5px solid rgb(87, 87, 87);
    margin-right: 5px;
    color: whitesmoke;
}
li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 7px 8px;
    background-color: rgb(51, 51, 51);
}
li a:hover{
    background-color: rgb(29, 28, 28);
}
body{
    background-color: rgb(49, 48, 48);
    min-height: 200px;
    max-width: 1060px;
    margin: 0 auto;
    padding: 40px;
}
.center {
   text-align: center;
}
.name{
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}
.face{
    float:left;
    width: 150;
    height: 150;
    margin-left: 50px;
}
.card{
    border: 5px solid black;
    width: 500px;
    height: 480px;
    position: relative;
    margin-left: 1px;
    
}
.cardTop{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    height: 275px;
    margin-bottom: 25px;
}
.cardBot{
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    color:orange;
    height: 200px;
    margin-top: -72px;
    background-color: rgb(69, 65, 65);
}
h3{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h4{
    margin-top: -40px;
    text-align: center;
}
hr{
    margin-top: -35px;
    color: blue;
    border: 2px solid black;
}
.container {
    width: 96.5%;
    margin-top: 50px;
    display: flex; 
    gap: 0px 0px; 
    flex-wrap: wrap;
    flex-direction: row;
}
html{
    height: 100%;
    background-color: rgb(39, 39, 39);;
}
.infoBar{
    display: flex;
    position: relative;
    padding: 12px 24px;
    background-color: rgba(30,30,30,.8);
    top: -70px;
    font-size: .875rem;
    color: whitesmoke;
    margin-top: 0;
    font-size: x-large;
}
.teamSize{
    height: 24px;
    width: 24px;
    margin-right: 5px;
    margin-left: 40px;
}
.clock{
    height: 24px;
    width: 24px;
    margin-right: 5px;
    margin-left: 40px;
}
.tools{
    height: 24px;
    width: 24px;
    margin-left: 40px;
    margin-right: 5px;
}
.cardHead{
    background-color: rgb(27, 26, 26);
    display: inline-flex;
    width: 80%;
    padding-left:100px;
    padding-top: 20px;
    padding-bottom: 12px;
}
.cardTail{
    background-color: rgb(36, 33, 33);
    padding: 15px;
    font-size: x-large;
}
.arrow{
    width: 30px;
    height: 30px;
    margin-left: -20px;
    text-align: center;
    align-self: center;
}
.cardBot img{
    margin-left: 50px;
}
.title{
    font-size: x-large;
}
